
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body{

    margin: 0px;
	width: 100%;
	height: 100%;
	font-family:'Montserrat',sans-serif;

}
/*navbar section*/

.navbar{
	background-image: white;
	padding:0 !important;
}
.navbar-brand img {

	 max-width: 100px;
	height: auto;
}
.navbar-nav li a{
    color: black !important;
	font-weight:400;
	float:right;
	text-align:left;
	padding: 0 10px;
}

.navbar-toggler{
	border: 1px solid black;
	color: red;
	line-height:2;
}

.main-btn{
	
	padding:10px 24px;
	background-color:#FF9800 ;
	color: #FFFFFF;
	font-weight:300;
	font-size:13px;
	letter-spacing:2px;
	text-decoration:none;
	border-width:8px;
	margin-bottom:30px;
}

.fa-solid{
	margin-left: 50px;
}
 .navbar-brand{
 	margin-bottom:50px;
 }
 
 /*fin navbar*/

 /*debut section 1 ou Jumbotron*/
 .section1{

 	padding-top: 150px;
	height: 600;
 }
 
.section1 .div1{

	font-size: 16px;
	font-weight: bold;
	background: linear-gradient(90deg, rgba(13, 66, 61, 0.9) -22.84%, rgba(12, 199, 181, 0.9) 138.88%),
	linear-gradient(0deg, #E6E6E6, #E6E6E6);
	border-radius: 3px;
	color: white;
	margin: 50px 30px;
	padding: 80px 100px;
}

p{
	
	margin-bottom:50px;
}

.div1 button{
	background-color: red;
	padding: 5px 25px;
	margin-left: 55px;
	border: 1px solid red;
	border-radius: 10px;
	margin-top: 70px;

}
/* -- section 2 -- */
.section2{
	height: 650px;""
}
.section2 .div1{
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #1f7f76;
	border-radius: 20px;
	background-color: #1f7f76;
	color: white;
	padding: 120px 50px;
	margin-top: 0 auto;
}
.section2 h1{
	font-size: 30px;
	font-weight: bold;
	padding-top: 50px;
}
.div1 .row img{
	padding: 10px;
}
.section2 .row .col-lg-5{
	border: 1px solid #1f7f76;
	padding-top: 75px;
	border-radius: 20px;
	
}
.section2 .row p{
	font-weight: bold;
	font-size: 14px;
	padding: 20px 65px;
}
.section2 button{
	background-color: red;
	border: 1px solid red;
	padding: 5px 25px;
	margin-left: 220px;
	margin-top: 20px;
}

h4{
	font-weight: bold;
}

/*section 3*/


.section3{
	height: 400px;
}
.section3 h1{
	margin-top: 50px;
}
.section3 .card1 .card-body{
	border: 1px solid #eb5f5f;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}
.section3 .card2 .card-body{
	border: 1px solid #5bbe8e;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}
.section3 .card3 .card-body{
	border: 1px solid #ffc744;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}
.section3 .card4 .card-body{
	border: 1px solid #11c676;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}

.section3 .card1 .card-body h5{
	color: #eb5f5f;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.section3 .card2 .card-body h5{
	color: #5bbe8e;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.section3 .card3 .card-body h5{
	color: #ffc744;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.section3 .card4 .card-body h5{
	color: #11c676;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
/* -- section 4 -- */

.section4{
	background-color: #f44336 ;
	color:white;
	font-size: 16px;
	height:900px;

}

.section4 h1{
	padding-top: 100px;
}
.section4 .row{
	padding-bottom:20px;
	margin: 0 auto;
}
.section4 .row h5{
	height: 50px;
}
.section4 img{
	background-color: #f44336 ;

	width: 100%;

}
/* section 5*/
.section5{
	height: 800px;
}

.section5 h1{

	margin-top:50px;
}

.section5 button{
	background-color: red;
	margin-left: 600px;
	margin-bottom: 75px;
	padding: 5px 25px;
	border: 1px solid red;
}
}

.section5 h1{
	margin-top: 150px;
}

.section5 p{
	font-weight: 400;
	margin-bottom: 50px;
}

.section5 .row .col .card-body{
	border: 1px solid #009688;
	padding: 30px 5px;
}
.section5 .row .col-lg-2 p{
	margin-top: 15px;
}
.carousel-indicators li{
    background: lightgray;
    width: 12px;
    height: 12px;
    border-radius:100%;
    border-style:solid;
    border-width:1px;
    border-color:lightgray;
    padding: 10px 10px;
    margin: 0px 30px;
}

.carousel-indicators{
    bottom: -75px;
}

/*section 6 */

.section6{
	margin: 0px;
	background-color: #f44336;
	height: 8
	00px;
	color: white;
}
.section6 .container-fluid{
	background-color: #f44336;
}
.section6 img{
	background-color: #f44336;
	width: 100%;
}
.section6 .row .col-lg-3 img{
	margin: 30px 0px;
}
.section6 .row .col-lg-5 img{
	margin: 30px 0px;	
}
.section6 p{
	font-weight: 400;
	margin-bottom: 75px;
}
.section6 .row .col-lg-5 p{
	margin-top: 25px;
	font-size: 12px;
}
.section6 button{
	margin: 0px 100px;
	padding: 5px 20px;
	font-size: 14px;
	background-color: #f44336;
	border: 1px solid #f44336;
}

.section6 .row .col-lg-12 img{
	background-color: #f44336;
}

/*section 7*/


.section7{
	height: 600px;
}
.section7 h1{
	margin-top: 75px;
}
.section7 .row img{
	padding: 30px 20px;
	margin-top: 50px;
}
.section7 button{
	margin-top: 20px;
	padding: 10px 50px;
	background-color: red;
	border: 1px solid red;
}
.section7 .row .col-lg-2 , .col-md-6{
	background-color: #f0faf9;
}
.section7 .row .col-md-6 button{
	margin-bottom: 50px;
}

/* -- footer -- */
footer{
	background-color: #009688;
	height: 400px;
	color: white;
	font-size: 14px;
}
footer .row p{
	margin-top: 25px;
	padding: 0px 10px;
}
footer .row .reseau .fab{
	padding: 0px 5px;
	color: white;

}
footer .row .col-lg-12 p{
	text-align: right;
	font-size: 12px;
	padding-top: 75px;
}















